parameters:
	ignoreErrors:
		-
			message: '#^Function auteur_dissocier not found\.$#'
			identifier: function.notFound
			count: 1
			path: action/associer_auteur_collection.php

		-
			message: '#^Function generer_generer_url_arg not found\.$#'
			identifier: function.notFound
			count: 1
			path: balise/logo_collection.php
