parameters:
	ignoreErrors:
		-
			message: "#^Function _L not found\\.$#"
			count: 2
			path: action/associer_auteur_collection.php

		-
			message: "#^Function auteur_associer not found\\.$#"
			count: 1
			path: action/associer_auteur_collection.php

		-
			message: "#^Function auteur_dissocier not found\\.$#"
			count: 1
			path: action/associer_auteur_collection.php

		-
			message: "#^Function autoriser not found\\.$#"
			count: 1
			path: action/associer_auteur_collection.php

		-
			message: "#^Function charger_fonction not found\\.$#"
			count: 1
			path: action/associer_auteur_collection.php

		-
			message: "#^Function include_spip not found\\.$#"
			count: 3
			path: action/associer_auteur_collection.php

		-
			message: "#^Function suivre_invalideur not found\\.$#"
			count: 1
			path: action/associer_auteur_collection.php

		-
			message: "#^Function _T not found\\.$#"
			count: 2
			path: action/editer_collection.php

		-
			message: "#^Function _request not found\\.$#"
			count: 2
			path: action/editer_collection.php

		-
			message: "#^Function auteur_associer not found\\.$#"
			count: 1
			path: action/editer_collection.php

		-
			message: "#^Function autoriser not found\\.$#"
			count: 2
			path: action/editer_collection.php

		-
			message: "#^Function charger_fonction not found\\.$#"
			count: 1
			path: action/editer_collection.php

		-
			message: "#^Function include_spip not found\\.$#"
			count: 3
			path: action/editer_collection.php

		-
			message: "#^Function objet_modifier not found\\.$#"
			count: 1
			path: action/editer_collection.php

		-
			message: "#^Function pipeline not found\\.$#"
			count: 2
			path: action/editer_collection.php

		-
			message: "#^Function spip_log not found\\.$#"
			count: 1
			path: action/editer_collection.php

		-
			message: "#^Function sql_insertq not found\\.$#"
			count: 1
			path: action/editer_collection.php

		-
			message: "#^Function calculer_liste not found\\.$#"
			count: 1
			path: balise/logo_collection.php

		-
			message: "#^Function champ_sql not found\\.$#"
			count: 2
			path: balise/logo_collection.php

		-
			message: "#^Function generer_generer_url_arg not found\\.$#"
			count: 1
			path: balise/logo_collection.php

		-
			message: "#^Function include_spip not found\\.$#"
			count: 1
			path: balise/logo_collection.php

		-
			message: "#^Function _T not found\\.$#"
			count: 1
			path: formulaires/creer_collection_rapide.php

		-
			message: "#^Function _request not found\\.$#"
			count: 1
			path: formulaires/creer_collection_rapide.php

		-
			message: "#^Function autoriser not found\\.$#"
			count: 1
			path: formulaires/creer_collection_rapide.php

		-
			message: "#^Function formulaires_editer_objet_traiter not found\\.$#"
			count: 1
			path: formulaires/creer_collection_rapide.php

		-
			message: "#^Function include_spip not found\\.$#"
			count: 3
			path: formulaires/creer_collection_rapide.php

		-
			message: "#^Function objet_instituer not found\\.$#"
			count: 1
			path: formulaires/creer_collection_rapide.php

		-
			message: "#^Function self not found\\.$#"
			count: 1
			path: formulaires/creer_collection_rapide.php

		-
			message: "#^Function _request not found\\.$#"
			count: 4
			path: formulaires/editer_collection.php

		-
			message: "#^Function formulaires_editer_objet_charger not found\\.$#"
			count: 1
			path: formulaires/editer_collection.php

		-
			message: "#^Function formulaires_editer_objet_traiter not found\\.$#"
			count: 1
			path: formulaires/editer_collection.php

		-
			message: "#^Function formulaires_editer_objet_verifier not found\\.$#"
			count: 1
			path: formulaires/editer_collection.php

		-
			message: "#^Function include_spip not found\\.$#"
			count: 3
			path: formulaires/editer_collection.php

		-
			message: "#^Function parametre_url not found\\.$#"
			count: 4
			path: formulaires/editer_collection.php

		-
			message: "#^Function self not found\\.$#"
			count: 2
			path: formulaires/editer_collection.php

		-
			message: "#^Function sql_getfetsel not found\\.$#"
			count: 1
			path: formulaires/editer_collection.php

		-
			message: "#^Function _T not found\\.$#"
			count: 2
			path: formulaires/lier_album.php

		-
			message: "#^Function _request not found\\.$#"
			count: 2
			path: formulaires/lier_album.php

		-
			message: "#^Function autoriser not found\\.$#"
			count: 1
			path: formulaires/lier_album.php

		-
			message: "#^Function charger_fonction not found\\.$#"
			count: 1
			path: formulaires/lier_album.php

		-
			message: "#^Function include_spip not found\\.$#"
			count: 3
			path: formulaires/lier_album.php

		-
			message: "#^Function objet_associer not found\\.$#"
			count: 1
			path: formulaires/lier_album.php

		-
			message: "#^Function sql_countsel not found\\.$#"
			count: 1
			path: formulaires/lier_album.php

		-
			message: "#^Function suivre_invalideur not found\\.$#"
			count: 1
			path: formulaires/lier_album.php

		-
			message: "#^Function effacer_meta not found\\.$#"
			count: 1
			path: geol_albums_administrations.php

		-
			message: "#^Function include_spip not found\\.$#"
			count: 3
			path: geol_albums_administrations.php

		-
			message: "#^Function maj_plugin not found\\.$#"
			count: 1
			path: geol_albums_administrations.php

		-
			message: "#^Function objet_associer not found\\.$#"
			count: 3
			path: geol_albums_administrations.php

		-
			message: "#^Function objet_inserer not found\\.$#"
			count: 1
			path: geol_albums_administrations.php

		-
			message: "#^Function objet_instituer not found\\.$#"
			count: 1
			path: geol_albums_administrations.php

		-
			message: "#^Function objet_modifier not found\\.$#"
			count: 1
			path: geol_albums_administrations.php

		-
			message: "#^Function sql_allfetsel not found\\.$#"
			count: 5
			path: geol_albums_administrations.php

		-
			message: "#^Function sql_delete not found\\.$#"
			count: 4
			path: geol_albums_administrations.php

		-
			message: "#^Function sql_drop_table not found\\.$#"
			count: 2
			path: geol_albums_administrations.php

		-
			message: "#^Function sql_in not found\\.$#"
			count: 5
			path: geol_albums_administrations.php

		-
			message: "#^Function sql_updateq not found\\.$#"
			count: 2
			path: geol_albums_administrations.php

		-
			message: "#^Function autoriser not found\\.$#"
			count: 1
			path: geol_albums_autoriser.php

		-
			message: "#^Function include_spip not found\\.$#"
			count: 1
			path: geol_albums_autoriser.php

		-
			message: "#^Function sql_getfetsel not found\\.$#"
			count: 1
			path: geol_albums_autoriser.php

		-
			message: "#^Function pipeline not found\\.$#"
			count: 2
			path: geol_albums_fonctions.php

		-
			message: "#^Function sql_getfetsel not found\\.$#"
			count: 2
			path: geol_albums_fonctions.php

		-
			message: "#^Function _T not found\\.$#"
			count: 6
			path: geol_albums_pipelines.php

		-
			message: "#^Function find_in_path not found\\.$#"
			count: 1
			path: geol_albums_pipelines.php

		-
			message: "#^Function include_spip not found\\.$#"
			count: 2
			path: geol_albums_pipelines.php

		-
			message: "#^Function objet_optimiser_liens not found\\.$#"
			count: 1
			path: geol_albums_pipelines.php

		-
			message: "#^Function recuperer_fond not found\\.$#"
			count: 1
			path: geol_albums_pipelines.php

		-
			message: "#^Function selecteurgenerique_verifier_js not found\\.$#"
			count: 1
			path: geol_albums_pipelines.php

		-
			message: "#^Function sql_delete not found\\.$#"
			count: 1
			path: geol_albums_pipelines.php

		-
			message: "#^Function sql_quote not found\\.$#"
			count: 1
			path: geol_albums_pipelines.php

		-
			message: "#^Function trouver_objet_exec not found\\.$#"
			count: 1
			path: geol_albums_pipelines.php

		-
			message: "#^Function sql_allfetsel not found\\.$#"
			count: 1
			path: inc/collection_organiser_rangs.php

		-
			message: "#^Function sql_updateq not found\\.$#"
			count: 1
			path: inc/collection_organiser_rangs.php
